*{
    margin: 0;
}
header{
    background-color: rgb(42, 155, 155);
    height: 100px;
}
nav{
    background-color: rgb(66, 198, 198);
    text-align: center;
}
.contenedor{
    background-image: url(../Img/fondoceleste.jpg);
    background-repeat:no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: center;
}
.articulos{
    background-color: white;
    width: 40%;
    padding: 20px;
}
